@use '../abstracts' as *;

html {
	@include mobile {
		font-size: 14px;
	}
}

body {
	background-color: $bg-color--default;
	color: $text-color--default;
	font-family: Avenir-Roman, sans-serif;
}
a {
	color: $text-color--default;
	text-decoration: none;
}
