@use '../abstracts' as *;

.search-container {
	width: 100%;
	text-align: center;
	padding: 5rem 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 16px;
	&--empty {
		min-height: inherit;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	@include tablet {
		grid-template-columns: 1fr 1fr;
	}

	@include mobile {
		grid-template-columns: 1fr;
	}
}
