@use 'sass:math';
@use 'variables' as *;

@mixin mobile {
	@media ( max-width: #{$breakpoint-tablet - 1px}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$breakpoint-desktop}) {
		@content;
	}
}

@mixin bgcolor-black-alpha($alpha) {
	background-color: rgba(0, 0, 0, $alpha);
}

@mixin bgcolor-white-alpha($alpha) {
	background-color: rgba(170, 170, 170, $alpha);
}

@mixin bordercolor-grey-alpha($alpha) {
	border-color: rgba(249, 249, 249, $alpha);
}

@mixin resposive-height($hor, $ver) {
	padding-top: math.round($ver/$hor * 100%);
}
