$bg-color: #090b13;
$body-bg-color: #040714;
$hover-bg-color: rgba(20, 20, 20, 0.5);
$basic-font-color: #f9f9f9;
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;
$btn-white-hover-bg-color: rgba(170, 170, 170, 0.9);
$area-color: #1c212e;
