$bg-color: #090b13;
$bg-color--black02: #111;
$bg-color--white: white;
$bg-color--default: #040714;
$bg-color--blue01: #1c212e;
$text-color--default: #f9f9f9;
$text-color--white: white;
$text-color--black: black;
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;
